@charset "utf-8";
ul{margin:0; padding:0;}
body, html {
    font-family: microsoft yahei, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #555;
    font-size: 18px;
    width: 100% !important;
    height: 100% !important;
}
ol,ul{list-style:none;}